* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: whitesmoke;
}

/* Header */
.header-style {
  background-color: #30598c;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  padding: 10px 30px;
}
.header-style img {
  height: 50px;
}
.space-with-content {
  width: 100%;
  height: 100px;
}
/* Main */
.main-style {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-evenly;
  margin: auto;
  max-width: 60%;
}

.items-content {
  background-color: white;
  width: 316px;
  height: 350px;
  margin-bottom: 50px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.items-content a {
  text-decoration: none;
  color: black;
}

.items-content img {
  width: 100%;
  height: 230px;
  border-radius: 5px 5px 0px 0px;
}
.course-title {
  font-size: 20px;
  margin: 15px 20px;
  height: 50px;
}
.course-detail {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}
.course-detail i {
  margin-left: 5px;
}

.course-type {
  flex-grow: 1;
  margin-left: 20px;
  color: gray;
}

/* Footer */
.footer-style {
  background-color: gainsboro;
  /* width: 100%; */
  height: 300px;
}
